body::-webkit-scrollbar {
    display: none;
}

h1,
span,
p {
    cursor: default;
}

.container-fluid {
    font-family: "poppins";
}

.navbar {
    background-color: transparent;
    animation: slidebottom 1s ease
}

.row {
    background-color: #fff;
}

.ovalImg {
    position: absolute;
    right: 0;
}

.description {
    margin-top: 10rem;
    animation: zoomIn 1s ease
}

.video {
    margin-top: 5rem;
}

.playImg {
    position: absolute;
    cursor: pointer;
}

.startBtn {
    background-color: #432B99 !important;
    border-color: #432B99 !important;
}

.icons {
    padding: 20vh 0;
}

.icon {
    padding: 10px;
    border-radius: 10px;
    border: #432B99 solid 1px;
    width: fit-content;
}

.surveys .icon {
    background-color: #432B99;
}

.iconDescription h3 {
    cursor: pointer;
}

.learn {
    background-image: linear-gradient(to top, rgba(67, 43, 153, 0.2), rgba(125, 104, 202, 0));
    border-radius: 0 0 85% 85%/50%;
    padding-bottom: 10%;
}

.learnInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.learnDescription {
    display: flex;
    height: 2rem;
    align-items: end;
}

.learnDescription p {
    padding: 0 12px;
}

.learnBtns a {
    padding: 0 12px;
    color: #432B99;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 0;
}

.testimonial div {
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ceoPic {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.ceo {
    color: indigo;
}

.ceoDescription {
    color: darkslateblue;
}

.recent {
    height: 50vh;
}




/* /////hover///// */
.icon:hover {
    cursor: pointer;
    box-shadow: rgb(125, 104, 202) 0px 0px 5px;
}

.learnBtns img:hover,
.learnBtns a:hover {
    text-shadow: rgb(125, 104, 202) 0px 0px 5px;
    cursor: pointer;
    text-decoration: none;
}

.ceoPic:hover {
    box-shadow: rgb(125, 104, 202) 0px 0px 5px;
    cursor: pointer;
}

h2:hover,
h3:hover {
    cursor: pointer;
    text-shadow: rgb(125, 104, 202) 0px 0px 5px;
}


/* fonts and animations */
@font-face {
    font-family: "poppins";
    src: url(./assets/textFonts/Poppins-Regular.ttf);
}

@keyframes zoomIn {
    0% {
        transform: scale(.05);
    }

    100% {}
}

@keyframes zoomInOut {
    0% {
        transform: scale(.05);
    }

    50% {
        transform: scale(1.2);
    }

    100% {}
}

@keyframes slidebottom {
    0% {
        transform: translateY(-50px)
    }

    100% {}
}